.header {
    display: flex;
    flex-direction: column;
    font-family: 'Dosis', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}

.titleAndNav {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.headerImage {
    border-radius: 20px;
    overflow: hidden;
}

.header h1 {
    color: blue;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navItems {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color: black;
    list-style-type: none;
}

.navLink {
    margin: 0px 10px;
    text-decoration: none;
}